/* Base */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

body {
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #fff;
  color: #515151;
}

a {
  color: #8d5272;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  color: #313131;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  color: #555;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  margin: .8rem 0;
  padding: .5rem 1rem;
  border-left: .25rem solid #e5e5e5;
  color: #7a7a7a;
}

blockquote  p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

.site-avatar {
  margin: 0;
  margin-right: 0.5rem;

  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  border-radius: 5px;
}

.site-info {
  display: inline-block;
  vertical-align: middle;
}

nav {
  float: right;
  margin-top: 1rem;

  font-size: 1.1rem;
}

nav a {
  padding-left: 1rem;
}

.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

/* Layout */
header {
  margin-bottom: 2rem;
  padding: 1rem 0;

  border-bottom: 1px solid #eee;
}

header h1 {
  display: inline-block;
  margin: 0;
  color: #515151;
}

header ul,
header li {
  display: inline-block;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header li {
  margin-left: 1rem;
}

@media (min-width: 30em) {
  header li {
    margin-left: 2rem;
  }
}

header li a {
  color: #515151;
  font-weight: bold;
}

/* header a:focus,
header a:hover {
  text-decoration: none;
} */

main {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eee;
}

main li + li {
  margin-top: .25rem;
}

main p {
  text-align: justify;
}

.post-date {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.posts {
  padding: 0;
  list-style-type: none;
}

.posts li {
  line-height: 1.75;
}

.posts .date {
  color: #515151;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%
}

.post:not(:last-child) {
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}

.summary {
  margin: 1rem 0;
}

footer {
  overflow: auto;
  margin-bottom: 2rem;
}

footer img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 0;
  border: 1px solid #9a9a9a;
}

footer p {
  margin: 0;
  font-size: 90%;
}

/* Categories */
.category {
  padding: 0.3rem;
  border-radius: 6px;
  background-color: #515151;
  color: #fff;
  font-size: 80%;
  white-space: nowrap;
}

.category-comp-sci {
  background-color: #00504a;
}

.category-cooking {
  background-color: #bc161a;
}

.category-misc {
  background-color: #42ad2c;
}

.category-reverse-engineering {
  background-color: #e24e20;
}

.category-writing {
  background-color: #8d5272;
}
