<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Site.Title }} &middot; {{ .Title }}</title>
  {{- end }}

  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml">

  <meta property="title" content="{{ .Title }}" />
  <meta property="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

  {{ template "_internal/opengraph.html" . }}
</head>

<body>
  <header>
    <img alt="Avatar" class="site-avatar" src="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2245069/avatar.png?width=64">
    <div class="site-info">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    </div>
    <nav>
      <a href="{{ .Site.BaseURL }}">Home</a>
      {{ range .Site.Menus.main -}}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{- end }}
    </nav>
  </header>

  <main>
    {{ block "main" . -}}{{- end }}
  </main>

  <footer>
    <a href="https://github.com/nopjmp">GitHub</a>
    <a href="https://gitlab.com/nopjmp">GitLab</a>
    <a href="https://twitter.com/jmpebx">Twitter</a>
    <a href="https://keybase.io/jmp">Keybase</a>
  </footer>

  {{ template "_internal/google_analytics.html" . }}
</body>

</html>
