{{ define "main" -}}
<ul class="posts">
  {{ range where .Data.Pages "Section" "posts" -}}
  <article class="post">
    <h1>{{ .Title }}</h1>
    <div class="metadata">
      <p class="post-date">{{ .Date.Format "02 Jan 2006" }}</p>
      {{ range .Params.categories -}}
      <span class="category category-{{ lower (replace (replace . " " "- ") ". " " ") }}">{{ . }}</span>
      {{ end }}
    </div>
    <div class="summary">
      {{ .Summary }}
    </div>
    <a href="{{ .RelPermalink }}">Read more</a>
  </article>
  {{ end }}
</ul>
{{- end }}